<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>
<div class="container">
    <div ng-app="" style="padding-top:25px;">
        <div class="row">
            <h3>Input pertinent university info into boxes. Results appear below</h3>
        </div>
        <div class="row">
            <h4>General Information</h4>
                <p>Mascot:<input type="text" ng-model="mascot"/></p>
                Link to University History (use full URL):<input type="text" ng-model="history"/></p>
                <p>City, State:<input type="text" ng-model="location"/></p>
                <p>Student Population:<input type="text" ng-model="population"/></p>
                <p>Public or Private:
                    <input name="pubpriv" type="radio" value="Public"  ng-model="publicprivate"/>Public<br>
                    <input name="pubpriv" type="radio" value="Private" ng-model="publicprivate"/>Private
                </p>
                <p>Campus Size:
                    <input name="size" type="radio" value="Tiny" ng-model="size"/>Tiny<br>
                    <input name="size" type="radio" value="Walkable" ng-model="size"/>Private<br>
                    <input name="size" type="radio" value="Spreadout" ng-model="size"/>Spreadout
                </p>
        </div>
        <div class="row">
            <h4>Financial</h4>

        </div>
        <div class="row">
            <h4>Academics</h4>

        </div>
        <div class="row">
            <h4>Atletics</h4>
        </div>
        <div class="row">


            <pre><xmp>

<section class="container-wrap main-color " style="padding-top: 40px; padding-bottom: 40px;">
<div class="section-container container">
<div class="vc_row vc_row-fluid row">
<div class="wpb_column vc_column_container vc_col-sm-12">
<div class="vc_column-inner ">
<div class="wpb_wrapper">
<div class="hr-title hr-full hr-center" style="font-size: 24pt;"><abbr><i class=""></i> GENERAL INFORMATION</abbr></div>
</div>
</div>
</div>
</div>
</div>
</section><!-- end section -->

<section class="container-wrap main-color " style="padding-top: 10px; padding-bottom: 10px;">
<div class="section-container container">
<div class="vc_row vc_row-fluid row">
<div class="wpb_column vc_column_container vc_col-sm-12">
<div class="vc_column-inner ">
<div class="wpb_wrapper">
<div class="row multi-columns-row colored-icons bordered-icons">
<div class="one-by-one-animated animate-when-almost-visible">
<div class="col-xs-12 col-sm-6 col-md-4"><a class="kleo-block feature-item list-el-animated default-icons-size" target="">
</a>
<h3 class="feature-title">Mascot</h3>
<div class="feature-text"></xmp><span ng-bind="mascot"></span><xmp></div>
</div>
<div class="col-xs-12 col-sm-6 col-md-4"><a class="kleo-block feature-item list-el-animated default-icons-size kleo-open-href" ng-href="{{history}}" target="_blank">
</a>
<h3 class="feature-title">History</h3>
<div class="feature-text">History Here</div>
</div>
<div class="col-xs-12 col-sm-6 col-md-4"><a class="kleo-block feature-item list-el-animated default-icons-size" target="">
</a>
<h3 class="feature-title">City, State</h3>
<div class="feature-text">Orlando, Florida</div>
</div>
<div class="col-xs-12 col-sm-6 col-md-4"><a class="kleo-block feature-item list-el-animated default-icons-size" target="">
</a>
<h3 class="feature-title">Student Population</h3>
<div class="feature-text">63,000</div>
</div>
<div class="col-xs-12 col-sm-6 col-md-4"><a class="kleo-block feature-item list-el-animated default-icons-size" target="">
</a>
<h3 class="feature-title">Public or Private</h3>
<div class="feature-text">Public</div>
</div>
<div class="col-xs-12 col-sm-6 col-md-4"><a class="kleo-block feature-item list-el-animated default-icons-size" target="">
</a>
<h3 class="feature-title">Campus Size</h3>
<div class="feature-text">Spreadout</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section><!-- end section -->

<section class="container-wrap main-color " style="padding-top: 40px; padding-bottom: 40px;">
<div class="section-container container">
<div class="vc_row vc_row-fluid row">
<div class="wpb_column vc_column_container vc_col-sm-12">
<div class="vc_column-inner ">
<div class="wpb_wrapper">
<div class="hr-title hr-full hr-center" style="font-size: 24pt;"><abbr><i class=""></i> FINANCIAL</abbr></div>
</div>
</div>
</div>
</div>
</div>
</section><!-- end section -->

<section class="container-wrap main-color " style="padding-top: 10px; padding-bottom: 10px;">
<div class="section-container container">
<div class="vc_row vc_row-fluid row">
<div class="wpb_column vc_column_container vc_col-sm-6">
<div class="vc_column-inner ">
<div class="wpb_wrapper">
<div class="kleo_text_column wpb_content_element ">
<div class="wpb_wrapper">
<h3>Cost Information</h3>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section><strong>In-State Tuition</strong>

&nbsp;

$6,407

&nbsp;

<strong>Out-Of-State Tuition</strong>

&nbsp;

$22,504

&nbsp;

<strong>Room &amp; Board</strong>

&nbsp;

$9,764

&nbsp;

<strong><a href="http://finaid.ucf.edu/scholarships/index.html" target="_blank">Financial Aid</a></strong>

&nbsp;

<strong>Athletic Scholarships?</strong>

&nbsp;

No

&nbsp;
<div class="wpb_column vc_column_container vc_col-sm-6">
<div class="vc_column-inner ">
<div class="wpb_wrapper">
<div class="kleo_text_column wpb_content_element ">
<div class="wpb_wrapper">
<h3>Other Financial Information</h3>
</div>
</div>
</div>
</div>
</div>
<strong>Meal Plan Options</strong>

&nbsp;

From $162.50 to $750.00

&nbsp;

<strong>Live on Campus?</strong>

&nbsp;

Up to Sophomore Year

&nbsp;

<strong>Cars Allowed on Campus?</strong>

&nbsp;

Yes

&nbsp;

<strong>Parking Cost</strong>

&nbsp;

No Information

&nbsp;

<!-- end section -->

<section class="container-wrap main-color " style="padding-top: 40px; padding-bottom: 40px;">
<div class="section-container container">
<div class="vc_row vc_row-fluid row">
<div class="wpb_column vc_column_container vc_col-sm-12">
<div class="vc_column-inner ">
<div class="wpb_wrapper">
<div class="hr-title hr-full hr-center" style="font-size: 24pt;"><abbr><i class=""></i> ACADEMICS</abbr></div>
</div>
</div>
</div>
</div>
</div>
</section><!-- end section -->

<section class="container-wrap main-color " style="padding-top: 10px; padding-bottom: 10px;">
<div class="section-container container">
<div class="vc_row vc_row-fluid row">
<div class="wpb_column vc_column_container vc_col-sm-6">
<div class="vc_column-inner ">
<div class="wpb_wrapper">
<div class="kleo_text_column wpb_content_element ">
<div class="wpb_wrapper">
<h3>Academics</h3>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section><strong>Required GPA</strong>

&nbsp;

3.7

&nbsp;

<strong>Required ACT</strong>

&nbsp;

25

&nbsp;

<strong>Required SAT</strong>

&nbsp;

1190 (reading &amp; math) or 1760 (composite)

&nbsp;

<strong><a href="http://www.ucf.edu/degree-search/" target="_blank">Fields of Study</a></strong>

&nbsp;
<div class="wpb_column vc_column_container vc_col-sm-6">
<div class="vc_column-inner ">
<div class="wpb_wrapper">
<div class="kleo_text_column wpb_content_element ">
<div class="wpb_wrapper">
<h3>Academics (cont.)</h3>
</div>
</div>
</div>
</div>
</div>
<strong>Graduation Rate</strong>

&nbsp;

$6,407

&nbsp;

<strong>Class Size Ratio</strong>

&nbsp;

$22,504

&nbsp;

<strong>Center for Disabilities</strong>

&nbsp;

<a href="http://sas.sdes.ucf.edu/" target="_blank">More Information</a>

&nbsp;

<strong>Tutoring Services</strong>

&nbsp;

<a href="http://sarc.sdes.ucf.edu/tutoring" target="_blank">More Information</a>

&nbsp;

<!-- end section -->

<section class="container-wrap main-color " style="padding-top: 40px; padding-bottom: 40px;">
<div class="section-container container">
<div class="vc_row vc_row-fluid row">
<div class="wpb_column vc_column_container vc_col-sm-12">
<div class="vc_column-inner ">
<div class="wpb_wrapper">
<div class="hr-title hr-full hr-center" style="font-size: 24pt;"><abbr><i class=""></i> ATHLETICS</abbr></div>
</div>
</div>
</div>
</div>
</div>
</section><!-- end section -->

<section class="container-wrap main-color " style="padding-top: 10px; padding-bottom: 10px;">
<div class="section-container container">
<div class="vc_row vc_row-fluid row">
<div class="wpb_column vc_column_container vc_col-sm-6">
<div class="vc_column-inner ">
<div class="wpb_wrapper">
<div class="kleo_text_column wpb_content_element ">
<div class="wpb_wrapper">
<h3>Bowling Team</h3>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section><strong>Offered Programs</strong>

&nbsp;

Men's Program (club)

&nbsp;

<strong><a href="https://ucf.collegiatelink.net/organization/bowlingclub" target="_blank">Team Website</a></strong>

&nbsp;

<strong>Head Coach</strong>

&nbsp;

Unknown

&nbsp;

<strong>Assistant Coach</strong>

&nbsp;

Unknown

&nbsp;
<div class="wpb_column vc_column_container vc_col-sm-6">
<div class="vc_column-inner ">
<div class="wpb_wrapper">
<div class="kleo_text_column wpb_content_element ">
<div class="wpb_wrapper">
<h3>Other Athletic Info</h3>
</div>
</div>
</div>
</div>
</div>
<strong>Gym Facilities</strong>

&nbsp;

Yes

&nbsp;

<strong>Gym Facility Cost</strong>

&nbsp;

Free

&nbsp;

<!-- end section -->


            </xmp></pre>
        </div>
    </div>
</div>
</body>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</html>
